* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  font-family: "Open Sans", sans-serif;
}
a {
  text-decoration: none;
  color: white;
}

//////////////////////////////////
.main-container {
  display: flex;
  height: 1700px;
  flex-direction: column;
  justify-content: flex-start;
  nav,
  header,
  section,
  footer .dv-map {
    flex: 1;
  }
  //nav part
  nav {
    width: 100%;
    height: auto;
    background-color: black;
    color: white;
    div {
      padding: 20px;
      float: left;
    }
    .nv-dv-logo {
      width: 30%;
    }
    .nv-dv-navbar {
      width: 50%;
    }
    .nv-dv-login {
      width: 20%;
    }
    ul {
      list-style-type: none;
      display: flex;
      align-items: center;
      li a {
        padding: 0 20px;
        display: inline-block;
      }
      li a::after {
        content: "";
        height: 4px;
        display: block;
        width: 0;
        background-color: white;
        transition: all 0.5s;
      }
      li a:hover::after {
        width: 100%;
      }
    }
    .nv-dv-login {
      padding: 15px;
      a {
        float: right;
        border: 2px solid white;
        padding: 5px 15px;
        margin-right: 40px;
        transition: background 0.5s;
      }
      a:hover {
        background-color: white;
        color: black;
      }
    }
  }
  //Header part
  header {
    height: 577px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  //section part
  section {
    display: flex;
    flex: 3;
    width: 100%;
    height: auto;
    //aside part
    aside {
      flex: 1;
      background-color: white;
      img {
        width: 300px;
        height: 450px;
        display: block;
        margin: auto;
        margin-top: 30px;
      }
    }
    //article part
    article {
      flex:  2 2 0;
      flex-grow: 2;
      flex-shrink: 2;
      flex-basis: 200px;
      background-color: white;
      align-items: center;
      justify-content: space-around;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      flex-wrap: wrap;
      .dv-article-movie {
        flex: 1 1 40%;
        height: 500px;
        margin: 10px 30px;
        .dv-inf-img {
          width: 100%;
          height: 90%;
          position: relative;
          img {
            width: 100%;
            height: 100%;
          }
          .dv-info {
            width: 100%;
            height: 100%;
            overflow: auto;
            top: 0;
            left: 0;
            position: absolute;
            padding: 40% 25px;
            text-align: justify;
            background-color: transparent;
            color: rgb(39, 38, 38);
            transition: background-color 0.5s;
            opacity: 0.9;
            visibility: hidden;
            h1 {
              text-align: center;
              margin: 15px 0;
            }
            p {
              font-size: 14px;
            }
          }
        }
        .dv-inf-img:hover .dv-info {
          background-color: white;
          visibility: visible;
        }
        .dv-mv-name {
          width: 100%;
          p {
            text-align: center;
            padding: 20px;
            font-size: 18px;
            letter-spacing: 5px;
          }
        }
      }
    }
  }
  //map div
  .dv-map {
    flex: 2;
    width: 100%;
    height: auto;
    margin: 50px 0;
    position: relative;
    div {
      width: 100%;
      height: 100%;
      position: absolute;
      background-color: black;
      top: 0;
      left: 0;
      opacity: 0.5;

      h2 {
        width: 100%;
        text-align: center;
        margin-top: 140px;
        color: white;
        letter-spacing: 10px;
        opacity: 1;
        cursor: pointer;
      }
    }
  }
  //Footer part
  footer {
    flex: 2;
    flex-basis: 300px;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    h3 {
      padding: 20px;
      letter-spacing: 10px;
    }
    p {
      width: 70%;
      margin: auto;
      padding: 40px;
    }
  }
}
@media screen and (max-width: 720px) {
  .main-container > nav > .nv-dv-logo {
    width: 100%;
    p {
      width: 100%;
      margin: 0;
      padding: 0;
      text-align: center;
      font-size: 35px;
    }
  }

  .main-container nav .nv-dv-navbar {
    width: 100%;
    ul {
      flex-direction: column;
      li {
        width: 100%;
        text-align: center;
        font-size: 25px;
        border: 3px solid white;
        background-color: transparent;
        margin-top: 3px;
        transition: all 0.5s;
      }
      li:hover {
        background-color: white;
        color: black;
        a {
          color: black;
        }
      }
    }
  }
  .main-container nav .nv-dv-login {
    width: 100%;
  }
  .nv-dv-login {
    display: none;
  }
  .main-container section aside {
    display: none;
  }
}
